
      <nav class="navbar navbar-default" >
        <div class="container-fluid">
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class=""><a [routerLink]="['']"><h4>HOME</h4></a></li>
              <li><a [routerLink]="['/beer']"><h4>BEER</h4></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
               <!-- <li *ngIf="!cart"><img [routerLink]="['/cart']"   id="imgcart" src="assets/cart.png"></li> -->
               <div *ngIf="isEmptyCart">
               <li ><img [routerLink]="['/cart']"   id="imgcart" src="assets/cart.png"></li>
               </div>
                <div *ngIf="!isEmptyCart">
               <li ><img [routerLink]="['/cart']"  (click)="clearCart()" id="imgcart" src="assets/redcart.png"></li>
               </div>
            </ul>
          </div>
        </div>
      </nav>
    