<div class="row">
    <div class="col-lg-3" id="left" >k</div>
    <div class="col-lg-9" id="right">
        <div id="top">1</div>
        <div id="content">
            <ul>
                <li>
                    <div id="each">
                        <a [routerLink]="['/each']">
                            <img src="" style="width: 170px;height: 200px ;margin-top: 20px;">
                            <br>
                            <br>
                        </a>
                        <h3>$$$$</h3>
                        <br>
                        <button id="seemore">
                            <h3>ADD TO CART</h3></button>
                    </div>
                </li>
                <li>
                    <div id="each">
                        <a [routerLink]="['/each']">
                            <img src="" style="width: 170px;height: 200px ;margin-top: 20px;">
                            <br>
                            <br>
                        </a>
                        <h3>$$$$</h3>
                        <br>
                        <button id="seemore">
                            <h3>ADD TO CART</h3></button>
                    </div>
                </li>
                <li>
                    <div id="each">
                        <a [routerLink]="['/each']">
                            <img src="" style="width: 170px;height: 200px ;margin-top: 20px;">
                            <br>
                            <br>
                        </a>
                        <h3>$$$$</h3>
                        <br>
                        <button id="seemore">
                            <h3>ADD TO CART</h3></button>
                    </div>
                </li>
                <li>
                    <div id="each">
                        <a [routerLink]="['/each']">
                            <img src="" style="width: 170px;height: 200px ;margin-top: 20px;">
                            <br>
                            <br>
                        </a>
                        <h3>$$$$</h3>
                        <br>
                        <button id="seemore">
                            <h3>ADD TO CART</h3></button>
                    </div>
                </li>
                <li>
                    <div id="each">
                        <a [routerLink]="['/each']">
                            <img src="" style="width: 170px;height: 200px ;margin-top: 20px;">
                            <br>
                            <br>
                        </a>
                        <h3>$$$$</h3>
                        <br>
                        <button id="seemore">
                            <h3>ADD TO CART</h3></button>
                    </div>
                </li>
                <li>
                    <div id="each">
                        <a [routerLink]="['/each']">
                            <img src="" style="width: 170px;height: 200px ;margin-top: 20px;">
                            <br>
                            <br>
                        </a>
                        <h3>$$$$</h3>
                        <br>
                        <button id="seemore">
                            <h3>ADD TO CART</h3></button>
                    </div>
                </li>
                <li>
                    <div id="each">
                        <a [routerLink]="['/each']">
                            <img src="" style="width: 170px;height: 200px ;margin-top: 20px;">
                            <br>
                            <br>
                        </a>
                        <h3>$$$$</h3>
                        <br>
                        <button id="seemore">
                            <h3>ADD TO CART</h3></button>
                    </div>
                </li>
                <li>
                    <div id="each">
                        <a [routerLink]="['/each']">
                            <img src="" style="width: 170px;height: 200px ;margin-top: 20px;">
                            <br>
                            <br>
                        </a>
                        <h3>$$$$</h3>
                        <br>
                        <button id="seemore">
                            <h3>ADD TO CART</h3></button>
                    </div>
                </li>
                <li>
                    <div id="each">
                        <a [routerLink]="['/each']">
                            <img src="" style="width: 170px;height: 200px ;margin-top: 20px;">
                            <br>
                            <br>
                        </a>
                        <h3>$$$$</h3>
                        <br>
                        <button id="seemore">
                            <h3>ADD TO CART</h3></button>
                    </div>
                </li>
              
            </ul>
        </div>
    </div>
</div>
