<div class="row">
    <div class="col-lg-3" id="left" >k</div>
    <div class="col-lg-9" id="right">
        <div id="top">1</div>
        <div id="content">
            <ul>
                <li *ngFor="let all of allProduct; let i = index; trackBy: trackByFn">
                    <div id="each">
                        <a [routerLink]="['/each']">
                            <img src="http://localhost:3000/view/img/{{all.img}}" style="width: 170px;height: 200px ;margin-top: 20px;">
                            <br>
                            <br>
                        </a>
                         <h3>{{all.name}}</h3>
                        <h3>{{all.price}}</h3>
                        <br>
                        <button id="ADD" (click)="getId(all._id)">
                            <h3>ADD TO CART</h3>  </button>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>
