<app-advertise></app-advertise>
<div id="content1">
    <div id="content">
        <h3 id="cart"><b>CART</b></h3>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-2">Price</div>
            <div class="col-lg-2">Quantity</div>
            <div class="col-lg-2">Total</div>
        </div>
        <div id="proincart" *ngFor="let crt of cart; let i = index; trackBy: trackByFn">
            <div class="row">
            <div class="col-lg-4">
            	<div id="centeredmenu">
                <ul>
                    <li  >
                        <div id="each" >
                            <a href="">
                                <img src="" style="width: 170px;height: 200px ;margin-top: 20px;">
                                <br>
                                <h3>{{crt.beer[i].item.name}}</h3>
                                <br>
                            </a>
                            <h3></h3>
                            <br>
                           
                            <!-- <button id="ADD"> -->
                                <!-- <h3 id="addto">ADD TO CART</h3></button> -->
                        </div>
                    </li>
                </ul>
            </div>
            </div>
            <div class="col-lg-2" id="col">{{crt.beer[i].item.price}}</div>
            <div class="col-lg-2" id="col">{{crt.beer[i].qty}}</div>
            <div class="col-lg-2" id="col">{{crt.beer[i].price}} Bath.</div>
        </div>
        </div>
        <div id="total">
             <h3 ><b>Total Price: </b> {{totalPrice}} Bath.</h3>
        </div>
        <div id="sub">
             <button id="addtocart" ><h3 >BUY !!</h3></button>
        </div>
       
    </div>
</div>
