<div id="bestseller">
	<header>
		<div>
			<span class="spacer"></span>
				<h1>BEST SELLERS</h1>
			<span class="spacer"></span>
		</div>
	</header>
<div id="centeredmenu">
   <ul>
      <li>
      <div id="each">
      <a [routerLink]="['/each']">
			<img src="" style="width: 170px;height: 200px ;margin-top: 20px;"><br><br>
      </a>
     		 <h3>$$$$</h3><br>
      		<button id="ADD"><h3 >ADD TO CART</h3></button>
      </div>

      </li>

     
     <!--  <li><a href="#" >Tab two</a></li>
      <li><a href="#">Tab three</a></li>
      <li><a href="#">Tab four</a></li> -->
   </ul>
</div>
	<div id="button">
		<button id="seemore"><h3 >SEE MORE</h3></button>
	</div>
</div>


