#imgeach{
	width: 400px;
	height: 400px;
	 margin: 10%;
	 border: 2px solid #D2D2D2;
}#name{
	margin-left: 35px;
	font-size: 100%;
    color: #000;
	margin-top: 20px;
}
#name1{
	margin-left: 35px;
	font-size: 25px;
    color: #000;
    /*margin-left: 30%;*/
    margin-bottom: 20px;
    text-transform: uppercase;
	margin-top: 20px;
}
#pic{
	
	 text-align: right;
}
#detail{
	/*background-color: #F5F5F5;*/
}
#content{
	width: 600px;
	height: 400px;
	margin: 7%;
	border: 1px solid #D2D2D2;
	background-color: #FFF;
}
#addtocart{
	background-color: #F0D041;
	color: black;
	border: 1px solid #D2D2D2;
	border-radius: 10px;
	width: 30%;
	height: 50px;
	right: 255px;
	position: absolute;
	bottom: 70px;
}
#imgcart{
	width: 20%;
}
#review{
	border: 1px solid #D2D2D2;
	background-color: #FFF;
	margin: 2%;
}
#writereview{
	background-color: #F0D041;
	color: black;
	border: 1px solid #D2D2D2;
	border-radius: 10px;
	width: 80%;
	height: 50px;
	bottom: 0;
}
#sarm{
	text-align: right;
	margin: 2% 0 5% 40%;

}
#textwrite{
	/*border: 1px solid #D2D2D2;*/
	height: 240px;
	margin-top: 5%;
}
#bor{
	/*border: 1px solid #D2D2D2;*/
	width: 80%;
}
#com{
	text-align: left;
	margin-left: 5%;
}

#loop{
	/*text-decoration: none;*/
}
ul li {
    position: relative;
    text-align: center;
    /*display: inline-block;*/
    vertical-align: top;
    list-style-type: none;
} 

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
/*body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }*/

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 3em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 