.overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        transition: opacity 500ms;
        visibility: hidden;
        opacity: 0;
    }
    
    .overlay:target {
        visibility: visible;
        opacity: 1;
    }
    
    .popup {
        margin: 70px auto;
        padding: 20px;
        background: #F5F5F5;
        border-radius: 5px;
        width: 30%;
        position: relative;
        transition: all 5s ease-in-out;
    }
    
    .popup h3 a {
        margin-top: 0;
        color: #333;
        font-family: Tahoma, Arial, sans-serif;
        text-decoration: none;
    }
    
    .popup h3 a:hover {
        color: #F0D041;
    }
    
    .popup h3 a:after {
        color: #F0D041;
    }
    
    .popup .close {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
    }
    
    .popup .close:hover {
        color: #F0D041;
    }
    
    .content {
        background-color: #FFF;
        overflow-x: hidden;
        padding: 2% 6% 2% 6%;

    }
    
    .content h5 {
        left: 0;
    }
    
    @media screen and (max-width: 700px) {
        .box {
            width: 70%;
        }
        .popup {
            width: 70%;
        }
    }
    #textbox {
        border: 1px solid black;
        width: 90%;
    }
    
    #bttnsignin {
        background-color: #F0D041;
        margin-left: 43%;
        border: 1px solid #F5F5F5;
        color: #FFF;
        height: 40px;
        width: 100px;
    }
    #right {
        /*padding-top: 20%;*/
        margin-top: 5%;
        border-left: 1px solid #F5F5F5;
    }
    
    .fieldgroup {
        float: left;
        width: auto;
        margin-left: 3em;
    }